# Lecture -2

# Variable & Data Type in python

# creating a variable

In [1]:
x=5
print(x)

5

In [5]:
a=10
b=5
d=2.5
c="anjali"
print(a,b,c)

10 5 anjali

In [6]:
y= " we are learning "
print(y)

 we are learning

In [7]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      10
b          int      5
c          str      anjali
d          float    2.5
x          int      5
y          str       we are learning

# A variable name must start with a letter or the underscore character

# rule 1

In [8]:
apple=23
print(apple)

23

In [9]:
apple_box=2.4
print(apple_box)

2.4

In [11]:
_=5
print(_)

5

In [12]:
_a=9
print(_a)

9

In [13]:
mnp_=2
print(mnp_)

2

# A variable name cannot start with a number

In [ ]:
# rule 2
1=23
print(1)

In [15]:
1==23
print(1)

1

In [16]:
1_apple=123
print(1_apple)

SyntaxError: invalid decimal literal (4113923688.py, line 1)

In [17]:
apple_1=89
print(apple_1)

89

# rule 3

# A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and)

In [20]:
abc123nmp=123
print(abc123nmp)

123

In [21]:
&$@=123
prit(&$@)#only appicable  is _

SyntaxError: invalid syntax (1547375292.py, line 1)

# Variable names are case-sensitive (age, Age and AGE are three different variables)

 # rule 4

In [22]:
age=123
print(age)

123

In [23]:
Age=123
print(Age)

123

In [27]:
AGE=123
print(AGE)

123

In [28]:
age=12
Age=13
AGE=15
print(age)

12

# Data type in python

In [29]:
a=2
b=1.5
c="my name is anjali"
print(a)
print(type(a))
type(b)

2
<class 'int'>

float

In [31]:
v=2+3j
print(type(v))
print(v)

<class 'complex'>
(2+3j)

In [35]:
num=[23,24,25,26]
print(num)
print(type(num))
num1={21,87,23,24}
print(num1)
type(num1)

[23, 24, 25, 26]
<class 'list'>
{24, 21, 87, 23}

set

# bollen dta

In [39]:
num3=True
print(num3)
print(type(num3))

SyntaxError: incomplete input (1466744910.py, line 5)

# A variable name cannot be any of the Python keywords.
# rule 5

In [40]:
print=14
print(print)

TypeError: 'int' object is not callable

In [41]:
int=2
print(int)

TypeError: 'int' object is not callable